@font-face {
    font-family: "solaiman-lipi";
    src: url("fonts/solaiman-lipi.ttf");
}

body, html, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,
.content-header h4,
.main-header, input, textarea {
    /*font-family: "solaiman-lipi", "Inter", "Roboto", "Arial", sans-serif;*/
!important;
}

.main-header .logo .logo-lg {
    /*font-family: "solaiman-lipi", "Inter", "Roboto", "Arial", sans-serif;*/
    font-size: 14px;
}

label {
    font-size: 12px;
    font-weight: bold;
}

.login-page {
    /*background-image: url('../images/header2.jpg');*/
}

.main-header {
    /*background-image: none;*/
}

.login-box, .register-box {
    width: 460px;
    margin: auto;
    margin-top: 20px;
}

.login-page {
    background-image: url(../images/login-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ffffff;
}

.login-logo, .register-logo {
    font-size: 24px;
}

span.faq-question {
    display: block;
    font-weight: bold;
}

span.faq-answer {
    display: block;

}

/**
* Boxed input
**********************************************************/
.boxed-input label {
    color: white;
    font-weight: bold;
    background-color: #fc466b;
    display: block;
    padding: 0 5px;
    border-radius: 5px 5px 0 0;
}

.boxed-input {
    /*float: left;*/
}

.boxed-input .form-control {
    border: 2px #fc466b solid;
    border-radius: 0 0 5px 5px;
}

.blue-boxed label {
    color: white;
    font-weight: bold;
    background-color: #3f5efb;
    display: block;
    padding: 5px;
    border-radius: 5px 5px 0 0;
}

.blue-boxed .selection-data {
    border: 2px #3f5efb solid;
    border-radius: 0 0 5px 5px;
    padding: 10px;
}

/**
* Info box
**********************************************************/
.info-box-number {
    font-size: 14px;
}

.info-box-icon {
    width: 60px;
    height: 60px;
    font-size: 35px;
    line-height: 70px;
}

.info-box-content {
    margin-left: 50px;
}

/**
* Info box
**********************************************************/
ion-icon {
    visibility: hidden;
    vertical-align: middle;
    text-align: center;
    margin-top: -2px;
}

/*******************************************************
* Project css
********************************************************/

.info-box-content a.apply {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 40px 30px 0;
}

.application-status {
    border: 0;
    border-radius: 0;
    border-bottom: 2px lightgrey dashed;
}

.status-submitted {
    background-color: green;
}

