/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');*/

.login-page {
    /*background-image: url('../images/header2.jpg');*/
}

.main-header {
    /*background-image: none;*/
}

.login-box, .register-box {
    width: 460px;
    margin: auto;
    margin-top: 20px;
}

.login-page {
    background-image: url(../images/login-bg-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ffffff;
}

.login-logo, .register-logo {
    font-size: 24px;
}

.main-header .logo, .logo, .logo-mini, .logo-lg {
    font-size: 14px;
}

.info-box-content a.apply {
    float: right;
    margin: 10px 10px 0 0;
}
